body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  margin:0;
  padding: 0;
  background-color: white;
}

footer{
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  padding: 12px 0px 2px 0px;
  text-align: center;
  font-size: small;
}
.socialmedia{
  flex-wrap: wrap;
}
footer img{
  height: 9vh;
  width: 180px;
  margin-top: 2%;
}

header {
  width: 100%;
  height: auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 ul {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
li{
  margin-right: 40px;
  list-style: none;
  font-weight: 450;
}
.link{
  text-decoration: none;
  color: black;
}

.link:hover, .current{
  color: rgba(255, 74, 82, 1);
  text-decoration: none;
  font-weight: 500;
}

ul button{
  display: flex;
  background-color: rgba(255, 74, 82, 1);
  color: white;
  padding: 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
ul button:hover, .btn:hover{
  background-color: black;
}
ul img{
  height: 10vh;
  width: 180px;
}
hr{
  margin: 0 2%;
  border: none;
  height: 0.5px;
  background-color: rgb(203 213 225);
}
.info{
  width: 100%;
}
.icons{
  display: inline-flex;
  font-size: 18px;
}
.icons p {
  margin-right: 10px;
}
.togglemenu{
  display: none;
}
ul, .main{
  padding: 0px 28px;
}
.main img{
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.image-container{
  display: flex;
  position: relative;
 align-items: center;
 justify-content: center;
}
.slider .active{
  position: relative;
  display: block;
  width: 100%;
 animation: myslider 2s ease-in;
}

.slider .inactive{
  display: none;
}
.description{
  height: 45vh;
  width:60%;
  background-color: white;
  position: absolute;
  z-index: 50;
  right: 0;
  bottom: 0;
  left:0;
  margin: auto;
  animation: desc 1s linear;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description div>p, .time{
  color: rgba(255, 74, 82, 1);
  font-weight: bolder;
}
.description div>h6{
  font-size: 20px;
}
.customicon{
  height: 28px;
  width: 28px;
  background-color: white;
  padding: 10px;
  color: rgba(255, 74, 82, 1);
  border-radius: 50%;
  z-index: 40;
  margin: 0% -8%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px white;
  font-size: 20px;
  display:none;
}
.customicon:hover{
  background-color: rgba(255, 74, 82, 1);
  color: white;
  /* scale: 1.5; */
}
.image-container:hover .customicon {
  display: flex;
}
.image-container:hover .description {
  display: flex;
}
.sidemenu{
  height: auto;
  width: auto;
  text-align: left;
  padding: 20px 25px;
  background-color: white;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  animation: toggle 1.2s linear;
}
.sidemenu p{
  margin: 24px 0px 10px 24px;
}
.sidemenu p:hover, .asterick, .xs-counter-li{
  color: rgba(255, 74, 82, 1);
}

.asterick{
  font-size: large;
}
.copyright{
  color: gray;
}
.sidemenu .close{
  float: right;
  margin: -8px -16px 0px 0px;
  cursor: pointer;
}
.contain{
  width: 100%;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.contain .intro{
  position: absolute;
  z-index: 50;
  color: white;
}
.intro .title{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: -8px;
}
.intro .caption{
  display: inline-flex;
}

.gradient{
  background-color: rgba(255, 74, 82, 1);
  inset: 0;
  position: absolute;
  opacity: 0.9;
}
.auth{
  height: auto;
  background-color: #d7d7d7;
  padding: 1% 8% 1% 3%;
  cursor: pointer;
}
.recipe-wrapper{
  height: auto;
  background-color: whitesmoke;
  padding:0% 0% 1% 2%;
  cursor: pointer;
}
.create{
  background-color: whitesmoke;
  padding: 4% 8% 0% 2%;
  width: 85%;
  margin-bottom: 10px;
}
.create .auth-wrapper{
  width: 100%;
  display: block;
}
.create textarea{
  width: 100%;
}
.create select{
  width: 105%;
}
.ingredient{
  display: flex;
  margin-top: 5px;
}
.lst{
  display: inline-flex;
  margin-right: 10px;
}
.ingredient .auth-wrapper{
  display: block;
}
.ingredient .auth-wrapper{
width: 40%;
}
.reset .auth-wrapper{
  width: 96%;
}
.ing{
  display: flex;
  justify-content: flex-start;
}
.ingredient .btnAdd{
  width: 10%;
  background-color: black;
  color: white;
  height: 8vh;
  margin-top: 34px;
  border: none;
  cursor: pointer;
}
.btnAdd:hover{
  background-color:rgba(255, 74, 82, 1) ;
}
.dash{
  padding: 0% 2% 0% 2%;
}
.dash, .dash-menu{
  display: flex;
  background-color: white;
}
.dash-menu > div{
  margin-right: 40px;
  font-size: small;
  cursor: pointer;
}
.dash-menu > div:hover{
  color: rgba(255, 74, 82, 1);
  scale: 1.2;
}
.dash-main{
  width: 80%;
}
.sidebar{
  width: 25%;
  text-align: left;
}
.sidebar > p{
  font-size: small;
}
.sidebar-content{
  width: 100%;
  height: auto;
  margin-top: 6%;
}
.active-line{
  border: 1px solid rgba(255, 74, 82, 1);
  margin-top: -12px;
}
.custom-width{
  width: 30%;
}
.recipe-menu{
  display: flex;
  width: 100%;
  margin-top: 2%;
  flex-wrap: wrap;
}

.recipes{
 width: 48%;
 background-color: white;
 margin: 0px 8px 4px 0px;
 font-size:14px;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
 height: 90vh;
 box-shadow:0px 0px 0px 0.2px #B2BEB5;
 cursor: pointer;
 border: none;

}
.side-recipes{
  width: 100%;
  height: 25vh;
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}
.content{
  text-align: center;
  display: block;
  padding: 0% 2%;
}
.side-recipes .content{
  font-size: small;
  text-align: left;
  margin-left: 8px;
}
.side-recipes .rating{
  margin-top: -25%;
}
.side-recipes .rating p{
  color: rgba(255, 74, 82, 1)
}
.time + p{
  font-weight: bold;
}
.side-recipes img{
  width: 60%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
}
.recipes img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.recipes img:hover, .side-recipes img:hover{
  transform: scale(0.9)
}
.rating{
  display: inline-flex;
  margin: -4% 0% -8% 0%;
}
.desc{
  color: rgba(255, 74, 82, 1) ;
}
.desc div{
  margin-right: 10px;
  display: flex;
}
.desc div .icon{
  margin-top: 15px;
}
form > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.auth-wrapper{
  width:45% ;
}

.area-wrapper{
  width: 100%;
  display: block;
}
label{
 font-size: 14px;
}
input, textarea, select{
  outline: none;
  border: none;
  padding: 18px;
  background-color: white;
  width: 100%;
  margin: 2% 0%;
}

select:invalid, textarea:invalid, .invalid{
  border: 1px solid rgba(255, 74, 82, 1) ;
}
input + p, textarea + p, select + p{
  font-size: small;
  margin-bottom: 24px;
  font-style: italic;
  font-weight: 500;
  color: rgba(255, 74, 82, 1);
}
button:disabled{
  background-color: gray;
}
.options{
  width: 25%;
}
.btn{
  padding: 12px;
  color:white;
  background-color: rgba(255, 74, 82, 1) ;
  border: none;
  width: 100px;
  cursor: pointer;
}
.btn2{
  color:white;
  background-color: black ;
  border: none;
  width: 160px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: smaller;
}
.btn2:hover{
  background-color:rgba(255, 74, 82, 1) ;
}
.forgot{
  color: rgba(255, 74, 82, 1);
  margin-top: -8px;
  text-decoration: none;
}
.line{
  border: 0.2px solid #B2BEB5;
  margin: 2% 0%;
}
.category-wrapper{
  height: fit-content;
  display: flex;
  justify-content: flex-start;
 margin: 10px 0px;
}
.category{
  width: 200px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 0px 2px whitesmoke;
  margin-right: 10px;
}
.category img{
  height: 15vh;
  width: 90%;
  object-fit: contain;
}
.question{
  width: 94%;
  display: inline-flex;
  justify-content: space-between;
  background-color: #d7d7d7;
  align-items: center;
  padding: 0% 2%;
  margin-top: 1%;
}
.answer{
  padding: 0% 2%;
  font-weight: 500;
  margin-bottom: -1%;
}
.cover{
  height: 60vh;
  width: 100%;
  object-fit: cover;
}
@keyframes toggle {
   0%{
    right: -50%;
   }
   100%{
    right: 0%;
   }
}

@keyframes desc {
   0%{
     bottom: -50%
   }
   100%{
     bottom: 0%;
   }
}
.custom-loader {
  width:50px;
  height:50px;
  border-radius:50%;
  border:8px solid;
  border-color:#E4E4ED;
  border-right-color: rgba(255, 74, 82, 1);
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

/* @keyframes myslider {
   0%{
    opacity: 0.8;

   }
   100%{
    opacity: 1;
   }
} */
/* responsive design with media queries */

/* Media query for screens smaller than 576px (e.g., smartphones) */
@media screen and (max-width: 575px) {
  ul,.main{
    padding: 0px 24px;
  }
  .icons{
    display: none;
  }
  .menu, hr {
    display: none;
  }
  .togglemenu{
    display: block;
  }
  .customicon{
    margin: 0% -16%;
    height: 18px;
    width: 18px;
  }
  .description{
    height: 20vh;
  }
  .description div>h6{
    font-size: 10px;
  }
  form > div{
    display: block;
  }
  .auth-wrapper{
    width: 90%;
  }
  textarea{
    width: 90%;
  }
  .recipes{
    width: 100%;
  }
  .custom-width{
    display: none;
  }
  .create{
    width: 90%;
  }
  .create input{
    width: 95%;
  }
  .create textarea{
    width: 95%;
  }
  .dash-main{
    width: 100%;
  }
  .dash, .category-wrapper{
    display: block;
  }
  .sidebar, .category{
    width: 100%;
  }
  .category img{
    width: 40%;
    height: 10vh;
  }
  .recipes{
    height: fit-content;
  }

}
@media screen and (max-width: 414px) {
  ul img{
    width: 160px;
  }
  .main img{
    height: 30vh;
  }
  .options{
    width: 100%;
    display: inline-flex;
    justify-content: left;
  }
  .btn2{
    width: 200px;
  }
  .recipes{
    height: fit-content;
  }
}

@media screen and (min-width: 415px) and (max-width: 575px) {
  ul img{
    height: 8vh;
     width: 180px;
  }
  .main img{
    height: 45vh;
  }
  .options{
    width: 70%;
    display: inline-flex;
    justify-content: left;
  }
  .btn2{
    width: 170px;
  }
  .category img{
    width: 50%;
    height: 8vh;
  }
}



/* Media query for screens between 576px and 768px (e.g., tablets) */
@media screen and (min-width: 576px) and (max-width: 767px){
  li{
    margin-right: 20px;
  }
  ul, .main{
    padding: 0px 24px;
  }
  .main img{
    height: 60vh;
  }
  .options{
    width: 70%;
    display: inline-flex;
    justify-content: left;
  }
  .btn2{
    width: 170px;
  }
  .recipes{
    height: fit-content;
  }

}
/* Media query for screens between 768px and 992px (e.g., small desktops) */
@media  screen and (min-width: 768px) and (max-width: 991px) {
  ul img{
    height:5vh;
    width: 180px;
  }
  .main img{
    height: 40vh;
  }
  .description{
    height: 22vh;
  }
  .description div>h6{
    font-size: 20px;
  }
  .options{
    width: 70%;
    display: inline-flex;
    justify-content: left;
  }
  .btn2{
    width: 170px;
  }
  .recipes{
    width: 100%;
    height: 60vh; 
  }
  .dash-main{
    width: 100%;
  }
  .dash, .category-wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar, .category{
    width: 30%;
  }
  .category img{
    width: 40%;
    height: 10vh;
  }
  .custom-width{
    display: none;
  }
  .create{
    width: 90%;
  }

}

/* Media query for screens larger than 992px (e.g., larger desktops) */
@media screen and (min-width: 992px) {

}
