body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  margin:0;
  padding: 0;
  background-color: white;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}
.footer-top-area{
  line-height: 1.7;
}
.container{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px){
.col{
  flex: 0 0 100%;
  max-width: 100%;
}
}
.widget{
  margin-bottom: 30px;
}
.socialmedia{
  margin-bottom: 15px;
}
header {
  width: 100%;
  height: auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 ul {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
li{
  margin-right: 40px;
  list-style: none;
  font-weight: 450;
}
.link{
  text-decoration: none;
  color: black;
}

.link:hover, .current{
  color: rgba(255, 74, 82, 1);
  text-decoration: none;
  font-weight: 500;
}

ul button{
  display: flex;
  background-color: rgba(255, 74, 82, 1);
  color: white;
  padding: 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
ul button:hover, .btn:hover{
  background-color: black;
}
ul img{
  height: 8vh;
  width: 180px;
}
hr{
  margin: 0 2%;
  border: none;
  height: 0.5px;
  background-color: rgb(203 213 225);
}
.info{
  width: 100%;
}
.icons{
  display: inline-flex;
  font-size: 18px;
}
.icons p {
  margin-right: 10px;
}
.togglemenu{
  display: none;
}
ul, .main{
  padding: 0px 28px;
}
.main img{
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.image-container{
  display: flex;
  position: relative;
 align-items: center;
 justify-content: center;
}
.slider .active{
  position: relative;
  display: block;
  width: 100%;
 animation: myslider 2s ease-in;
}

.slider .inactive{
  display: none;
}
.description{
  height: 45vh;
  width:60%;
  background-color: white;
  position: absolute;
  z-index: 50;
  right: 0;
  bottom: 0;
  left:0;
  margin: auto;
  animation: desc 1s linear;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description div>p{
  color: rgba(255, 74, 82, 1);
  font-weight: bolder;
}
.description div>h6{
  font-size: 20px;
}
.customicon{
  height: 28px;
  width: 28px;
  background-color: white;
  padding: 10px;
  color: rgba(255, 74, 82, 1);
  border-radius: 50%;
  z-index: 40;
  margin: 0% -8%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px white;
  font-size: 20px;
  display:none;
}
.customicon:hover{
  background-color: rgba(255, 74, 82, 1);
  color: white;
  /* scale: 1.5; */
}
.image-container:hover .customicon {
  display: flex;
}
.image-container:hover .description {
  display: flex;
}
.sidemenu{
  height: auto;
  width: auto;
  text-align: left;
  padding: 20px 25px;
  background-color: white;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  animation: toggle 1.2s linear;
}
.sidemenu p{
  margin: 24px 0px 10px 24px;
}
.sidemenu p:hover, .asterick{
  color: rgba(255, 74, 82, 1);
}
.asterick{
  font-size: large;
}
.sidemenu .close{
  float: right;
  margin: -8px -16px 0px 0px;
  cursor: pointer;
}
.contain{
  width: 100%;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.contain .intro{
  position: absolute;
  z-index: 50;
  color: white;
}
.intro .title{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: -8px;
}
.intro .caption{
  display: inline-flex;
}

.gradient{
  background-color: rgba(255, 74, 82, 1);
  inset: 0;
  position: absolute;
  opacity: 0.9;
}
.auth{
  height: auto;
  background-color: #d7d7d7;
  padding: 1% 8% 1% 3%;
  cursor: pointer;
}
form > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.auth-wrapper{
  width:45% ;
}
.area-wrapper{
  width: 100%;
  display: block;
}
label{
 font-size: 14px;
}
input, textarea{
  outline: none;
  border: none;
  padding: 18px;
  background-color: white;
  width: 100%;
  margin: 2% 0%;
}
.invalid{
  border: 1px solid rgba(255, 74, 82, 1) ;
}
input + p, textarea + p{
  font-size: small;
  margin-bottom: 24px;
  font-style: italic;
  font-weight: 500;
}
button:disabled{
  background-color: gray;
}
.options{
  width: 25%;
}
.btn{
  padding: 12px;
  color:white;
  background-color: rgba(255, 74, 82, 1) ;
  border: none;
  width: 100px;
  cursor: pointer;
}
.btn2{
  color:white;
  background-color: black ;
  border: none;
  width: 160px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: smaller;
}
.btn2:hover{
  background-color:rgba(255, 74, 82, 1) ;
}
.forgot{
  color: rgba(255, 74, 82, 1);
  margin-top: -8px;
  text-decoration: none;
}
.line{
  border: 0.2px solid #B2BEB5;
  margin: 2% 0%;
}

@keyframes toggle {
   0%{
    right: -50%;
   }
   100%{
    right: 0%;
   }
}

@keyframes desc {
   0%{
     bottom: -50%
   }
   100%{
     bottom: 0%;
   }
}
/* @keyframes myslider {
   0%{
    opacity: 0.8;

   }
   100%{
    opacity: 1;
   }
} */
/* responsive design with media queries */

/* Media query for screens smaller than 576px (e.g., smartphones) */
@media screen and (max-width: 575px) {
  ul,.main{
    padding: 0px 24px;
  }
  .icons{
    display: none;
  }
  .menu, hr {
    display: none;
  }
  .togglemenu{
    display: block;
  }
  .customicon{
    margin: 0% -16%;
    height: 18px;
    width: 18px;
  }
  .description{
    height: 20vh;
  }
  .description div>h6{
    font-size: 10px;
  }
  form > div{
    display: block;
  }
  .auth-wrapper{
    width: 90%;
  }
  textarea{
    width: 90%;
  }

}
@media screen and (max-width: 414px) {
  ul img{
    width: 200px;
  }
  .main img{
    height: 30vh;
  }
  .options{
    width: 100%;
    display: inline-flex;
    justify-content: left;
  }
  .btn2{
    width: 200px;
  }
}
@media screen and (min-width: 415px) and (max-width: 575px) {
  ul img{
    height: 8vh;
     width: 200px;
  }
  .main img{
    height: 45vh;
  }
  .options{
    width: 70%;
    display: inline-flex;
    justify-content: left;
  }
  .btn2{
    width: 170px;
  }
}



/* Media query for screens between 576px and 768px (e.g., tablets) */
@media screen and (min-width: 576px) and (max-width: 767px){
  li{
    margin-right: 20px;
  }
  ul, .main{
    padding: 0px 24px;
  }
  .main img{
    height: 60vh;
  }
  .options{
    width: 70%;
    display: inline-flex;
    justify-content: left;
  }
  .btn2{
    width: 170px;
  }
}
/* Media query for screens between 768px and 992px (e.g., small desktops) */
@media  screen and (min-width: 768px) and (max-width: 991px) {
  ul img{
    height:5vh;
    width: 180px;
  }
  .main img{
    height: 40vh;
  }
  .description{
    height: 22vh;
  }
  .description div>h6{
    font-size: 20px;
  }
  .options{
    width: 70%;
    display: inline-flex;
    justify-content: left;
  }
  .btn2{
    width: 170px;
  }
}

/* Media query for screens larger than 992px (e.g., larger desktops) */
@media screen and (min-width: 992px) {

}
